<!DOCTYPE html>
<html lang="en" layout:decorate="/layout/main" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gérer les Administrateurs</title>
</head>
<body>
<div layout:fragment="header">
    <div class="title">
        <h3 class="sticky-notes-title">Afficher Un Administrateur</h3>
    </div>
    <a th:href="@{/administrateurs}" class="block btn btn-primary">Administrateur</a>
</div>

<div layout:fragment="content">
    <div class="border p-3">
        <ul class="list-unstyled">
            <li class="mb-3"><span class="text-primary text-bold">Username : </span><span class="text-info" th:text="${administrateur.getUsername()}"></span></li>
            <li class="mb-3"><span class="text-primary text-bold">Nom : </span><span class="text-info" th:text="${administrateur.getNom()}"></span></li>
            <li class="mb-3"><span class="text-primary text-bold">Prenom : </span><span class="text-info" th:text="${administrateur.getPrenom()}"></span></li>
            <li class="mb-3"><span class="text-primary text-bold">Email : </span><span class="text-info" th:text="${administrateur.getEmail()}"></span></li>
            <li class="mb-3"><span class="text-primary text-bold">Phone : </span><span class="text-info" th:text="${administrateur.getPhone()}"></span></li>
        </ul>
    </div>
</div>
</body>
</html>