<!DOCTYPE html>
<html lang="en" layout:decorate="/layout/main" xmlns:layout="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Ajouter Des Filieres Au Département</title>
    </head>
    <body>
        <div layout:fragment="header">
            <div class="title">
                <h3 class="sticky-notes-title">Ajouter Des Filieres</h3>
            </div>
            <a th:href="@{/departements}" class="block btn btn-primary">Département</a>
        </div>

        <div layout:fragment="content">
            <div th:if="${error}" class="alert alert-danger my-4">
                <span th:text="${error}"></span>
            </div>
            <form action="/departements/ajouter_filiere" method="post" th:object="${departement}" >
                <input type="hidden" name="id" th:field="*{id}"/>
                <div class="form-group mb-4">
                    <label for="nom">Nom</label>
                    <input type="text" readonly class="form-control" id="nom" name="nom" th:field="*{nom}"/>
                    <span class="text-danger text-sm" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
                </div>

                <div class="form-group mb-4">
                    <label for="filieres">Filieres</label>
                    <select class="form-control" name="filieres" id="filieres" multiple th:field="*{filieres}">
                        <option value="">Sélectionner les filieres</option>
                        <option th:each="filiere : ${filieres}" th:value="${filiere.id}" th:text="${filiere.nom}"></option>
                    </select>
                    <span class="text-danger text-sm" th:if="${#fields.hasErrors('filieres')}" th:errors="*{filieres}"></span>
                </div>

                <br>
                <div class="form-group">
                    <button class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>